.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.OtherDashBoardThing{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all ease .2s;
}

.OtherDashBoardThing.page-enter{
  opacity: 0;
}

.OtherDashBoardThing.page-active{
  transition: all ease .3s .4s;
  opacity: 1;
}

.OtherDashBoardThing.page-enter-done{
  transition: all ease .3s .4s;
  opacity: 1;
}

.OtherDashBoardThing.page-exit{
  opacity: 1;
  max-height: 230434028034px;
}
.OtherDashBoardThing.page-exit-active{
  transition: all ease .2s;
  opacity: 0;
  max-height: 0;
}

.DashBoardThing{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 64px;
}

.OtherDashBoardThing{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all ease .2s;
}

.DashBoardThing.page-enter{
  opacity: 0;
}

.DashBoardThing.page-active{
  transition: all ease .3s .4s;
  opacity: 1;
}

.DashBoardThing.page-enter-done{
  transition: all ease .3s .4s;
  opacity: 1;
}

.DashBoardThing.page-exit{
  opacity: 1;
  max-height: 230434028034px;
}
.DashBoardThing.page-exit-active{
  transition: all ease .2s;
  opacity: 0;
  max-height: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
