
.Splash{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all ease .5s;
	opacity: 0;
}

.Splash.page-appear{
	opacity: 1;
}

.Splash.page-appear-active{
	opacity: 1;
}

.Splash.page-enter{
	opacity: 1;
}

.Splash.page-active{
	opacity: 1;
}

.Splash.page-enter-done{
	opacity: 1;
}

.Splash.page-exit{
	opacity: 0;
}
.Splash.page-exit-active{
	opacity: 0;
}
.Splash.page-exit-done{
	opacity: 0;
}


input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (min-width: 1000px) {
    .Splash{
        flex-direction: row;
    }
}
.Side{
	
		
}

.Side.left{
	text-align: left;
	max-width: 500px;
	min-width: 300px;
	margin-right: 60px;
	//background-color: red;
}

.Side.right{
	text-align: center;;
}

.WidgetMini{
	background: #F9FAFC;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	padding: 16px 8px 12px 12px;
	text-align: left;
	margin-bottom: 24px;
}

.TerminalTextSection{
	display: flex;
	flex-direction: row;
	background-color: #181A1C;
	padding: 8px;
}

.minishit{
	display: flex;
	flex-direction: row;

}
.minishit .WidgetMini:nth-child(1){
	margin-right: 8px;
}

.minishit .WidgetMini{
	flex: 1;
	height: 160px;
}

.PinClickOverlay{
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 500;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.5);
	transition:  all ease .4s;
	opacity: 0;
}

.PinClickOverlay.pin-enter{
	opacity: 0;
}
.PinClickOverlay.pin-enter-active{

}
.PinClickOverlay.pin-enter-done{
	opacity: 1;
}

.PinClickOverlay.pin-exit{
	opacity: 1;
}
.PinClickOverlay.pin-exit-active{

}

.PinClickOverlay.pin-exit-done {
	opacity: 0;
}

